/*
    App.css 
*/
@import "../../node_modules/bootstrap/scss/functions";
@import "../css/font.css";

body,
ul {
    margin: 0px !important;
    padding: 0px !important;
}

#brand {
    font-family: 'Circular Std Bold', sans-serif;
    font-size: 1.2rem;
    color: #d6d6d6;
    text-decoration: none;
}

#brand .avatar {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    border-radius: 50%;
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #313132;
    margin-bottom: 1.8rem;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    font-family: 'Circular Std', sans-serif;
    text-decoration: none;
    color: #d6d6d6;
    padding: .5rem;
}

#menu a:hover {
    color: #ffffff;
    transition: all .6s;
}

#btn-mobile {
    display: none;
}

/* Variables */
$custom-white-bg: #ffffff;
$custom-white-border: #dfdfe3;
$custom-white-contrast: rgba(242, 243, 244, .7);
$custom-white-border-contrast: #e3e3e7;
$custom-dark: #242424;
$custom-dark-one: #171717;
$custom-dark-two: #0a0a0a;
$custom-border-radius: 0.313rem;
/* Bootstrap Variables */
$body-bg: #f5f5f7;
$body-color: $custom-dark;
$font-family-sans-serif: 'Circular Std',
sans-serif;
$border-color: $custom-white-border-contrast;

$input-bg: #fafafa;
$input-border-color: #dfdfe3;
$input-placeholder-color: #d4d6d8;
$input-focus-box-shadow: 0 1px 1px rgba(63, 63, 63, 0.075);

$input-disabled-bg: #e9ecef;
$input-disabled-border-color: #d5d8db;

$form-file-button-bg: #dc3545;
$form-file-button-color: #ffffff;

$form-label-color: #171717;
$form-label-font-weight: 500;

$form-check-input-checked-bg-color: #dc3545;
$form-check-input-focus-box-shadow: 0 1px 1px rgba(63, 63, 63, 0.075);

$form-select-focus-box-shadow: 0 1px 1px rgba(63, 63, 63, 0.075);

$btn-link-color: #ffffff;
$btn-font-family: 'Circular Std Bold',
sans-serif;

$badge-font-weight: none;
$badge-border-radius: $custom-border-radius;

$list-group-bg: none;

$table-border-color: $custom-white-border;
$table-striped-color: $custom-white-contrast;

.box {
    width: 100%;
    background: $custom-white-bg;
    border: 1px solid $custom-white-border;
    border-radius: $custom-border-radius;
    -moz-border-radius: $custom-border-radius;
    display: block;
}

.box-header {
    color: $custom-dark-one;
    background: $custom-white-contrast;
    border-bottom: 1px solid $custom-white-border-contrast;
    font-family: 'Circular Std Bold', sans-serif;
    @extend .p-2;
}

.box-content {
    word-wrap: break-word;
}

.fs-7 {
    font-size: 0.75rem;
}

.bg-login {
    background: url('../images/emoji/welcome.png') no-repeat;
    width: 500px;
    height: 525px;
}

.box-size-fluid {
    width: 50%;
}

.required::after {
    margin: -0.2em 0 0 0.2em;
    content: "*";
    color: #db2828;
}

.avatar {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border-radius: 50%;
}

.ui.search {
    position: relative;
}

.ui.search>.results {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    white-space: normal;
    text-align: left;
    text-transform: none;
    background: #FFFFFF;
    margin-top: 0.5em;
    width: 18em;
    border-radius: $custom-border-radius;
    border: 1px solid $border-color;
    z-index: 998;
}

.ui.search>.results> :first-child {
    border-radius: 0.28571429rem 0.28571429rem 0em 0em;
}

.ui.search>.results> :last-child {
    border-radius: 0em 0em 0.28571429rem 0.28571429rem;
}

.ui.search>.results .result {
    cursor: pointer;
    display: block;
    overflow: hidden;
    font-size: 1em;
    padding: 0.85714286em 1.14285714em;
    color: $custom-dark;
    line-height: 1.33;
    border-bottom: 1px solid $border-color;
}

.ui.search>.results .result:last-child {
    border-bottom: none !important;
}

.ui.search>.results .result .image+.content {
    margin: 0em 6em 0em 0em;
}

.ui.search>.results .result .title {
    margin: -0.14285714em 0em 0em;
    font-family: 'Circular Std Bold', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.85);
}

.ui.search>.results .result .description {
    margin-top: 0;
    font-family: 'Circular Std', sans-serif;
    font-size: 0.92857143em;
    color: rgba(0, 0, 0, 0.4);
}

.ui.search>.results>.message {
    padding: 1em 1em;
}

.ui.search>.results>.message .header {
    font-family: 'Circular Std Bold', sans-serif;
    font-size: 1rem;
    color: $custom-dark;
}

.ui.search>.results>.message .description {
    margin-top: 0.25rem;
    font-size: 1em;
    font-family: 'Circular Std', sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

.ui.search>.results>.action {
    display: block;
    border-top: none;
    background: #F3F4F5;
    padding: 0.92857143em 1em;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
    text-align: center;
}

.ui.search>.results .result:hover,
.ui.category.search>.results .category .result:hover {
    background: #F9FAFB;
}

.ui.search .action:hover {
    background: #E0E0E0;
}

.ui.category.search>.results .category.active {
    background: #F3F4F5;
}

.ui.category.search>.results .category.active>.name {
    color: rgba(0, 0, 0, 0.87);
}

.ui.search>.results .result.active,
.ui.category.search>.results .category .result.active {
    position: relative;
    border-left-color: rgba(34, 36, 38, 0.1);
    background: #F3F4F5;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.search>.results .result.active .title {
    color: rgba(0, 0, 0, 0.85);
}

.ui.search>.results .result.active .description {
    color: rgba(0, 0, 0, 0.85);
}


.ui.category.search .results {
    width: 28em;
}

.ui.category.search .results.animating,
.ui.category.search .results.visible {
    display: table;
}

.ui.category.search>.results .category {
    display: table-row;
    background: #F3F4F5;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background 0.1s ease, border-color 0.1s ease;
    transition: background 0.1s ease, border-color 0.1s ease;
}

.ui.category.search>.results .category:last-child {
    border-bottom: none;
}

.ui.category.search>.results .category:first-child .name+.result {
    border-radius: 0em 0.28571429rem 0em 0em;
}

.ui.category.search>.results .category:last-child .result:last-child {
    border-radius: 0em 0em 0.28571429rem 0em;
}

.ui.category.search>.results .category>.name {
    display: table-cell;
    text-overflow: ellipsis;
    width: 100px;
    white-space: nowrap;
    background: transparent;
    font-family: 'Circular Std', sans-serif;
    font-size: 1em;
    padding: 0.4em 1em;
    color: $custom-dark;
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

.ui.category.search>.results .category .results {
    display: table-cell;
    background: #FFFFFF;
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

.ui.category.search>.results .category .result {
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    -webkit-transition: background 0.1s ease, border-color 0.1s ease;
    transition: background 0.1s ease, border-color 0.1s ease;
    padding: 0.85714286em 1.14285714em;
}

.ui.fluid.search .results {
    width: 100%;
}

.ui.mini.search {
    font-size: 0.78571429em;
}

.ui.small.search {
    font-size: 0.92857143em;
}

.ui.search {
    font-size: 1em;
}

.ui.large.search {
    font-size: 1.14285714em;
}

.ui.big.search {
    font-size: 1.28571429em;
}

.ui.huge.search {
    font-size: 1.42857143em;
}

.ui.massive.search {
    font-size: 1.71428571em;
}

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";

@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";

@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/utilities/api";

@include media-breakpoint-down(sm) {
    #menu {
        /* display: none; */
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #333333;
        display: block;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid #2e2e2e;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: #d6d6d6;
        gap: .5rem;
        align-items: center;
    }

    #icon {
        border-top: 2px solid #d6d6d6;
        width: 20px;
        color: #d6d6d6;
    }

    #icon::after,
    #icon::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #icon {
        border-top-color: transparent;
    }

    #nav.active #icon::before {
        transform: rotate(135deg);
    }

    #nav.active #icon::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .box-size-fluid {
        width: 100%;
    }

}

@include media-breakpoint-down(md) {
    .ui.search .results {
        max-width: calc(100vw - 2rem);
    }
}